
/* ABOUT US LAYOUT */

#about-header {
  background-color: #4c090d ;
  text-align: center;
  padding: 2rem 1rem;
  color: #f7f4ea;  
}

#about-header h1, #about-header p {
  margin: 0;
}

#about-page {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#about-body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f7f4ea
}

#about-title {
  margin: 0;
  font-size: 2.5rem;
}

#tagline {
  margin-top: 0.5rem;
}

#about-main {
  flex: 1;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
  background-color: #f7f4ea;
  color:  #4c090d ;
}

#about-heading {
  color: #6b4b4b;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text {
  margin-bottom: 1rem;
}


#j-footer {
  text-align: center;
  background-color:#4c090d;
  color:#f7f4ea;
  padding: 1rem;
  font-size: 0.9rem;
}
